@tailwind base;
@tailwind components;
@tailwind utilities;

.default {
    --appPrimaryColor: 82, 142, 108;
    --appPrimaryDark: 53, 53, 53;
    --appPrimaryLight: 243, 243, 243;
    --appImportant: 174, 90, 90;
    --appVariant-1: 230, 230, 230;
    --appVariant-2: 185, 185, 185;
    --appVariant-3: 133, 133, 133;
}

.dark {
    --appPrimaryColor: 53, 53, 53;
    --appPrimaryDark: 53, 53, 53;
    --appPrimaryLight: 243, 243, 243;
    --appImportant: 174, 90, 90;
    --appVariant-1: 133, 133, 133;
    --appVariant-2: 185, 185, 185;
    --appVariant-3: 230, 230, 230;
}

@layer base {
    html {
        @apply text-appPrimaryDark bg-appPrimaryLight;
        box-sizing: border-box;
    }

    body::-webkit-scrollbar {
        display: none;
    }
}

@layer components {

    /* Common positions */
    .center-of-div {
        @apply flex justify-center items-center;
    }

    /* Main buttons */
    .primary-color-button {
        @apply bg-appPrimaryColor text-appPrimaryLight border-appPrimaryColor border-solid border rounded-full px-3 py-2 font-semibold cursor-pointer disabled:opacity-75;
    }

    .secondary-color-button {
        @apply bg-appPrimaryLight text-appPrimaryColor border-appPrimaryColor border-solid border rounded-full px-3 py-2 font-semibold cursor-pointer disabled:opacity-75;
    }

    .primary-important-button {
        @apply bg-appImportant text-appPrimaryLight border-appImportant border-solid border rounded-full px-3 py-2 font-semibold cursor-pointer disabled:opacity-75;
    }

    .secondary-important-button {
        @apply bg-appPrimaryLight text-appImportant border-appImportant border-solid border rounded-full px-3 py-2 font-semibold cursor-pointer disabled:opacity-75;
    }

    .primary-variant-button {
        @apply bg-appVariant-3 text-appPrimaryLight border-appVariant-3 border-solid border rounded-full px-3 py-2 font-semibold cursor-pointer disabled:opacity-75;
    }

    .secondary-variant-button {
        @apply bg-appPrimaryLight text-appVariant-3 border-appVariant-3 border-solid border rounded-full px-3 py-2 font-semibold cursor-pointer disabled:opacity-75;
    }

    /* Form Input box */
    .form-text-input {
        @apply px-4 py-2 mt-1 rounded-full bg-appPrimaryLight border-appPrimaryColor border;
    }

    /* button animation */
    .button-animation {
        @apply transition duration-200 ease-in-out
    }

    /* fade in fade out animation for 3 seconds */
    .fade-animation {
        animation: fade-in-out 3s;
    }

    @keyframes fade-in-out {

        0%,
        100% {
            opacity: 0;
        }

        30%,
        70% {
            opacity: 100;
        }
    }

    /* Home page appear animation */
    .page-appear-animation {
        animation: page-in-out 1.5s ease;
    }

    @keyframes page-in-out {
        0% {
            transform: scale(0);
        }

        90% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }

    /* Appear from bottom animation */
    .appear-bottom-animation {
        animation: bottom-to-top 1s ease;
    }

    @keyframes bottom-to-top {
        0% {
            opacity: 0;
            transform: translateY(100%);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@layer utilities {

    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}