@tailwind base;
@tailwind components;
@tailwind utilities;

.default {
    --appGreen: 82, 142, 108;
    --appBlack: 53, 53, 53;
    --appWhite: 243, 243, 243;
    --appRed: 174, 90, 90;
    --appGray-1: 230, 230, 230;
    --appGray-2: 185, 185, 185;
    --appGray-3: 133, 133, 133;
}

.dark {
    --appGreen: 53, 53, 53;
    --appBlack: 53, 53, 53;
    --appWhite: 243, 243, 243;
    --appRed: 174, 90, 90;
    --appGray-1: 133, 133, 133;
    --appGray-2: 185, 185, 185;
    --appGray-3: 230, 230, 230;
}

@layer base {
    html {
        @apply text-appBlack bg-appWhite;
        box-sizing: border-box;
    }

    body::-webkit-scrollbar {
        display: none;
    }
}

@layer components {

    /* Common positions */
    .center-of-div {
        @apply flex justify-center items-center;
    }

    /* Main buttons */
    .primary-green-button {
        @apply bg-appGreen text-appWhite border-appGreen border-solid border rounded-full px-3 py-2 font-semibold cursor-pointer disabled:opacity-75;
    }

    .secondary-green-button {
        @apply bg-appWhite text-appGreen border-appGreen border-solid border rounded-full px-3 py-2 font-semibold cursor-pointer disabled:opacity-75;
    }

    .primary-red-button {
        @apply bg-appRed text-appWhite border-appRed border-solid border rounded-full px-3 py-2 font-semibold cursor-pointer disabled:opacity-75;
    }

    .secondary-red-button {
        @apply bg-appWhite text-appRed border-appRed border-solid border rounded-full px-3 py-2 font-semibold cursor-pointer disabled:opacity-75;
    }

    .primary-gray-button {
        @apply bg-appGray-3 text-appWhite border-appGray-3 border-solid border rounded-full px-3 py-2 font-semibold cursor-pointer disabled:opacity-75;
    }

    .secondary-gray-button {
        @apply bg-appWhite text-appGray-3 border-appGray-3 border-solid border rounded-full px-3 py-2 font-semibold cursor-pointer disabled:opacity-75;
    }

    /* Form Input box */
    .form-text-input {
        @apply px-4 py-2 mt-1 rounded-full bg-appWhite border-appGreen border;
    }

    /* button animation */
    .button-animation {
        @apply transition duration-200 ease-in-out
    }

    /* fade in fade out animation for 3 seconds */
    .fade-animation {
        animation: fade-in-out 3s;
    }

    @keyframes fade-in-out {

        0%,
        100% {
            opacity: 0;
        }

        30%,
        70% {
            opacity: 100;
        }
    }

    /* Home page appear animation */
    .page-appear-animation {
        animation: page-in-out 1.5s ease;
    }

    @keyframes page-in-out {
        0% {
            transform: scale(0);
        }

        90% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }

    /* Appear from bottom animation */
    .appear-bottom-animation {
        animation: bottom-to-top 1s ease;
    }

    @keyframes bottom-to-top {
        0% {
            opacity: 0;
            transform: translateY(100%);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@layer utilities {

    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}